<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>Add new e-mail</h3></div>
			<div class="panel-body">
				<div class="col-md-6 col-md-offset-3">
					<table class="table">
						<tr>
							<td><p>To:</p></td>
							<td><input type="text" ng-model="receiver" class="form-control" /></td>
						</tr>
						<tr>
							<td>From:</td>
							<td><input type="text" ng-model="sender" class="form-control" /></td>
						</tr>
						<tr>
							<td>Subject:</td>
							<td><input type="text" ng-model="subject" class="form-control" /></td>
						</tr>
						<tr>
							<td>Message:</td>
							<td><textarea ng-model="message" class="form-control" rows="5"></textarea></td>
						</tr>
						<tr>
							<td colspan=2 align="center"><button type="button" class="btn btn-primary" ng-click="navigate.back()">Back</button> 
							<button class="btn btn-primary" ng-click="action.add()">Add</button> 
							<button class="btn btn-info" ng-click="action.resetFields()">Reset</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>