<!DOCTYPE html>
<html ng-app="AMail">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
		<base href="http://localhost:8080/Angular/" />
	</head>
	
	<body>
		<ng-view></ng-view>
		<!--  Load scripts -->
	 	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" ng:autobind></script>
	 	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
	 	<script src = "controllers/routing.js"></script>
	 	<script src = "controllers/list-controller.js"></script>
	 	<script src = "controllers/detail-controller.js"></script>
	 	<script src = "controllers/add-controller.js"></script>
	 	<script src = "controllers/get-list-controller.js"></script>
	 	
	 	<table>
	<tr>
		<td><strong>Sender</strong></td>
		<td><strong>Subject</strong></td>
		<td><strong>Date</strong></td>
	</tr>
	<tr ng-repeat = "item in items">
		<td>{{item.sender}}</td>
		<td>{{item.subject}}</td>
		<td>{{item.message}}</td>
	</tr>
	<tr>
		<td colspan=2 align="center"><button ng-click="navigate.add(); action.clear()">Add</button></td>
	</tr>
</table>
	</body>
	
</html>