<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>E-mail list</h3></div>
			<table  class="table table-striped" ng-init = "getItems()">
				<tr>
					<th><strong>Sender</strong></th>
					<th><strong>Subject</strong></th>
					<th><strong>Date</strong></th>
				</tr>
				<tr ng-repeat = "item in items | orderBy : 'date'">
					<td>{{item.sender}}</td>
					<td><a href="./view/{{item.id}}">{{item.subject}}</a></td>
					<td>{{item.date}}</td>
				</tr>
				<tr>
					<td colspan=3 align="center"><p><button class="btn btn-primary" ng-click="navigate.add(); action.clear()">Add</button></p></td>
				</tr>
			</table>
			<div ng-click="action.clear()">{{succesMessage}}</div>
		</div>
	</div>
</div>ö